*{
    box-sizing: border-box;
}

html{
    height: 100%;
}


body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(220, 221, 182);
}


.container{
    max-width: 950px ;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 25px ;
    padding-left: 25px ;
    display: flex;
}

.left {
    width: 40%;
    background-color: rgba(43, 39, 39, 0.815);
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
}



.right {
    width: 60%;
    padding: 30px;
    padding-top: 15px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 500;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
   letter-spacing: 2px;

}

.site-header{
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
}


.site-head {
    margin: 0;
    color: #fff;
}
.site-head-text {
    margin: 0;
    color: white;
    margin-bottom: 15px;
}
 
.footer {
    display: flex;
}
.site-footer-icon {
    border-radius: 50px;
    margin-right: 20px;
}
.site-footer-text {
    color: white;
    
}


.right-text::first-letter {
color: black;
font-size: 32px;
}

